.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Adjust based on the container size */
    
}

.loader {
    position:relative;
    top:-4em;
    border: 6px solid transparent; /* Transparent border */
    border-top: 6px solid green; /* Green border for the spinner */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); /* Smooth animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
