<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <!-- Page-header start -->
                <div class="page-header mt-5" style="margin-top: -22px;">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <div class="page-header-title">
                                    <h5 class="m-b-10" style="font-size: 23px;">Dashboard</h5>
                                    <p class="m-b-0">Welcome To WebVFD Portal</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="#"> <i class="fa fa-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">Dashboard</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Page-header end -->
                <div class="pcoded-inner-content">
                    <!-- Main-body start -->
                    <div class="main-body">
                        <div class="page-wrapper">
                                                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        
                                        
                                        
                                        <h3 class="package-duration float-left text-c-blue m-3">Package Duration: <span
                                                id="for-package-time-counter" class="text-c-blue"></span></h3>
                                    </div>
                                </div>
                                                            <!-- Page-body start -->
                            <div class="page-body">
                                <div class="row">

                                    <!-- task, page, download counter  start -->
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card">
                                            <div class="card-block dashCards">
                                                <div class="row align-items-center">
                                                    <div class="col-9">
                                                        <h5 class="text-c-purple">Tsh
                                                                                                                                0.00
                                                                                                                        </h5>
                                                        <h6 class="text-muted m-b-0">Today Sales
                                                        </h6>
                                                    </div>
                                                    <div class="col-3 text-right">
                                                        <i class="fa fa-bar-chart f-28"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="card-footer bg-c-purple">
                                                <div class="row align-items-center">
                                                    <div class="col-12 align-items-center">
                                                        <a href="http://127.0.0.1:8000/today-sales">
                                                            <p class="text-white m-b-0">View more...
                                                            </p><i
                                                                class="fa fa-arrow-circle-right float-right text-light"
                                                                style="margin-top: -18px;font-size:18px;"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                            
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-md-6">
                                        <div class="card">
                                            <div class="card-block dashCards">
                                                <div class="row align-items-center">
                                                    <div class="col-9">
                                                        <h5 class="text-c-green"> Tsh
                                                                                                                                0.00
                                                                                                                        </h5>
                                                        <h6 class="text-muted m-b-0">Today Taxes</h6>
                                                    </div>
                                                    <div class="col-3 text-right">
                                                        <i class="fa fa-file-text-o f-28"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="card-footer bg-c-green">
                                                <div class="row align-items-center">
                                                    <div class="col-12">
                                                        <a href="http://127.0.0.1:8000/today-taxes">
                                                            <p class="text-white m-b-0">View more...
                                                            </p><i
                                                                class="fa fa-arrow-circle-right float-right text-light"
                                                                style="margin-top: -18px;font-size:18px;"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                            

                                        </div>
                                    </div>


                                    <div class="col-xl-3 col-md-6">
                                        <div class="card">
                                            <div class="card-block dashCards">
                                                <div class="row align-items-center">
                                                    <div class="col-10">
                                                        <h5 class="text-c-red"> Tsh
                                                            2,121,557.81
                                                        </h5>
                                                        <h6 class="text-muted m-b-0">All Sales</h6>
                                                    </div>
                                                    <div class="col-2 text-right">
                                                        <i class="fa fa-calendar-check-o f-28"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="card-footer bg-c-red">
                                                <div class="row align-items-center">
                                                    <div class="col-12">
                                                        <a href="http://127.0.0.1:8000/receipts-reports">
                                                            <p class="text-white m-b-0">
                                                                View more...</p><i
                                                                class="fa fa-arrow-circle-right float-right text-light"
                                                                style="margin-top: -18px;font-size:18px;"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-3 text-right">
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                            
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-md-6">
                                        <div class="card">
                                            <div class="card-block dashCards">
                                                <div class="row align-items-center">
                                                    <div class="col-9">
                                                        <h5 class="text-c-blue">Tsh
                                                            309,290.43
                                                        </h5>
                                                        <h6 class="text-muted m-b-0">All Taxes</h6>
                                                    </div>
                                                    <div class="col-3 text-right">
                                                        <i class="fa fa-hand-o-down f-28"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="card-footer bg-c-blue">
                                                <div class="row align-items-center">
                                                    <div class="col-12">
                                                        <a href="http://127.0.0.1:8000/receipts-reports">
                                                            <p class="text-white m-b-0">
                                                                View more...</p> <i
                                                                class="fa fa-arrow-circle-right float-right text-light"
                                                                style="margin-top: -18px;font-size:18px;"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-3 text-center">
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                            
                                        </div>
                                    </div>
                                    <!-- task, page, download counter  end -->
                                </div>
                            </div>


                            <div class="page-body">
                                <div class="row">

                                    <div class="col-xl-3 col-md-6">
                                        <div class="card">
                                            <div class="card-block dashCards">
                                                <div class="row align-items-center">
                                                    <div class="col-9">
                                                        <h5 class="text-c-green">
                                                                                                                                0
                                                            
                                                        </h5>
                                                        <h6 class="text-muted m-b-0">Today Fiscal Receipt</h6>
                                                    </div>
                                                    <div class="col-3 text-right">
                                                        <i class="fa fa-file-text-o f-28"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="card-footer bg-c-green">
                                                <div class="row align-items-center">
                                                    <div class="col-12">
                                                        <a href="http://127.0.0.1:8000/today-fiscal">
                                                            <p class="text-white m-b-0">
                                                                View more...
                                                            </p><i
                                                                class="fa fa-arrow-circle-right float-right text-light"
                                                                style="margin-top: -18px;font-size:18px;"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                            
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-md-6">
                                        <div class="card">
                                            <div class="card-block dashCards">
                                                <div class="row align-items-center">
                                                    <div class="col-9">
                                                        <h5 class="text-c-blue">
                                                            750</h5>
                                                        <h6 class="text-muted m-b-0">
                                                            All Fiscal Receipt
                                                        </h6>
                                                    </div>
                                                    <div class="col-3 text-right">
                                                        <i class="fa fa-hand-o-down f-28"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="card-footer bg-c-blue">
                                                <div class="row align-items-center">
                                                    <div class="col-12">
                                                        <a href="http://127.0.0.1:8000/all-fiscal">
                                                            <p class="text-white m-b-0">
                                                                View more...</p> <i
                                                                class="fa fa-arrow-circle-right float-right text-light"
                                                                style="margin-top: -18px;font-size:18px;"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-3 text-center">
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                            
                                        </div>

                                    </div>

                                </div>

                                <!-- Page-body end -->
                            </div>
                            <div id="styleSelector"> </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>